.inputAreaLogin{
    font-size: 25px;
   font-family: Arial, sans-serif;
}
.inputLoginArea{
    font-size: 40px;
    margin-top: 6px;
    border-radius: 6px;
}
.textArealogin{
    margin-top: 25px;
    font-size: 25px;
    font-family: Arial, sans-serif;
}
.InputSenhaLogin{
    font-size: 40px;
    margin-top: 6px;
    border-radius: 6px;
}
.completeAreaLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
 
}
 
.formAreaLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    height: 380px;
    border: 10px gray solid;
    background-color: lightgray;
    border-radius: 6px;
    padding: 20px;
}
.botao1{
    font-size: 18px;
    height: 4vh;
    width: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background-color: #0065a1;
    font-family: Arial, sans-serif;
    color: white;
}
.senhitaEsquecita{
 
font-size: 18px;
 
}
.pagodito{
    padding: 3px;
}
.AreaUsuarioLogin{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cadastroLoginArea{
  padding-top: 3px;
}
.pagodito a{
    text-decoration: none;
    font-size: 18px;
    color: #0065a1;
 
}
 
.cadastroLoginArea a{
    font-size: 18px;
    text-decoration: none;
    color: #0065a1;
  }