/* Estilo geral do Header */
.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #d8d8d8; /* Fundo verde escuro */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo */
  .logoConteiner {
    flex: 1; /* Permite que a logo ocupe o espaço necessário */
  }
  
  .logoConteiner img {
    height: 50px;
  }
  
  /* Campo de Pesquisa */
  .cidade {
    flex: 2; /* Ocupa o espaço central */
    display: flex;
    justify-content: center; /* Centraliza o campo de pesquisa */
  }
  
  .cidade input {
    padding: 8px 15px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: #004d40;
    background-color: white;
    width: 250px;
    transition: width 0.3s ease-in-out;
  }
  
  .cidade input::placeholder {
    color: #aaa;
  }
  
  .cidade input:focus {
    width: 300px;
    outline: none;
  }
  
  /* Menu Hambúrguer */
  .menuHamburguer {
    display: block; /* Mostra o menu hambúrguer em todas as telas */
  }
  
  /* Botão de Login */
  .login {
    flex: 1; /* Mantém o botão de login alinhado à direita */
    display: flex;
    justify-content: flex-end;
  }
  
  .login .botaoLogin {
    background-color: #0065a1;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
  }
  
  .login .botaoLogin:hover {
    background-color: blue; /* Cor de hover */
  }
  
  .login .botaoLogin a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .login .botaoLogin a:hover {
    color: #e0f2f1;
  }
  
  /* Ícone de usuário */
  .login .botaoLogin .FaUser {
    margin-right: 8px;
  }
  
  /* Layout Responsivo */
  @media (max-width: 768px) {
    .conteudo {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .cidade {
      width: 100%;
      margin: 10px 0;
      justify-content: flex-start;
    }
  
    .login {
      align-self: flex-end;
    }
  }