.conteudo{
    background-color: #d8d8d8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
}


.logoConteiner img {
    height: 55px;
    width: 200px; 
    border-radius: 15px;
    margin: 30px;
}
.logoConteiner img:hover {
    transform: scale(1.2);

}

.logoConteiner{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-right: -200px;
}
.menuHamburguer{
    display: flex;
    flex-direction: row;
    margin: 140px;
    margin-right: 300px;
}
.cidade{
    display: flex;
    flex-direction: row;
    flex: 1; 
    font-size: 20px;
    margin-right: 300px;
    
}

.login{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-right: px;
}
.botaoLogin{
    width: 40%;
    background-color: #0065a1;
    font-size: 20px;
    color: #FFF;
    border: solid 2px #0065a1;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.botaoLogin a{
   
    text-decoration: none;
    color: #Fff;
}

