 
.CadastroArea{
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.FormularioArea{
    height: 20px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.FormularioArea h3{
    font-size: 25px;
    font-weight: 400px;
    color: #0033A1;
}


.UserAreaCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.CadastroGeral{
    border: solid 2px ;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 200;
    padding-left: 5px;
    font-weight: 500;
    color: #7d7d7d;
    height: 40px;
    width: 300px;
}
.InputArea{
    height: 50px;
    padding: 10px;
}

.BotaoCadastrar{
    width: 150px;
    height: 50px;
    font-size: 15px;
    background-color: #fff;
    border: solid 2px #0065a1;
    border-radius: 5px;
    color: #0065a1;
    font-size: 20px;
}

.BotaoCadastrar:hover{
    border-color: #0033A1;
}

.BotaoArea{
    padding-top: 20px;
    padding-left: 140px;
}

.mensagemArea{
    border: solid 2px #0065a1;
    font-size: 15px;
    width: 100%;
    height: 200px;
    font-weight: 200;
    padding-left: 5px;
    color: #0033A1;
    font-weight: 500;
} 

