
.CadastroArea{
    height: 100vh;
    width: 50vw;
    background-color: #ccc;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.FormularioArea{
    height: 20px;
    width: 100%;
    border: solid 2px #7d7d7d;
    border-radius: 5px;
    background-color: #7d7d7d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.FormularioArea h3{
    font-size: 25px;
    font-weight: 400px;
    color: #d6d6d6;
}

.InformcaoesLabel{
    font-size: 20px;
    color: #0033A1;
    font-weight: 550;
}

.UserAreaCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.CadastroGeral{
    border: solid 2px #0065a1;
    font-size: 15px;
    font-weight: 200;
    padding-left: 5px;
    color: #0033A1;
    font-weight: 500;
}
.InputArea{
    padding: 10px;
}

.BotaoCadastrar{
    font-size: 15px;
    background-color: #0065a1;
    border: solid 2px #0065a1;
    border-radius: 5px;
    color: #fff;
}
.BotaoArea{
    padding-top: 20px;
    padding-left: 140px;
}
