body{
  
}

.img{
    
    display: flex;
    justify-content: column;
    align-items: center;
    margin-left: 900px;
}

.pesquisa
{  
   
    border-radius: 10px; 
    padding: 10px; 
    border: 1px solid ; 
    outline: none;
    font-size: 40px;
    
}
 
#tituloArea
{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: -250px;
    font-size: 35px;
    color: #0033A1;
    padding: 10px;
    margin-left: 45px;
    
    
}

#subtitulo
{
    /* margin-top: 30px; */
    display: flex;
    justify-content: left;
    font-size: 25px;
    margin-left: 55px;
}

/* margin-left: 650px; */

.sobreArea
{
    margin-top: 120px;
    margin-left: 70px;
    font-size: 37px;
    padding: 10px;
}

#primeiro{
    margin-top: 90px;
margin-bottom: 50px;
}

#segundo
{
    margin-top: 40px;
}

.hotdog{ 
    width: 400px;
    height: 300px;
    margin-left: 1900px;
    margin-top: 10px;
    display: inline-block;
    width: 500px;
    height: 400px;
    border: 8px solid #0033A1; 
}

.linha{
    width: 100%;
    height: 20%;
    padding-top: 20px;
    border: solid;
    background-color: #0033A1;
}
.linha2{
    width: 100%;
    height: 40%;
    padding-bottom: 25px;
    border: solid;
    background-color: #0033A1;
}


  
 