*
{
    background-color: #ccc;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{
    
    width: 100px;
    display: flex;
    justify-content: column;
    align-items: center;
    margin-left: 900px;
}

.pesquisa
{  
   
    border-radius: 10px; 
    padding: 10px; 
    border: 1px solid ; 
    outline: none;
    font-size: 25px;
   
}
 
#tituloArea
{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 100px;
    font-size: 35px;
    color: #0033A1;
    padding: 10px;
    
    
}

#subtitulo
{
    /* margin-top: 30px; */
    display: flex;
    justify-content: left;
    font-size: 20px;
}

/* margin-left: 650px; */

.sobreArea
{
    margin-top: 24px;
    margin-left: 70px;
    font-size: 33px;
    padding: 10px;
}

#primeiro{
    margin-top: 90px;
margin-bottom: 50px;
}

#segundo
{
    margin-top: 40px;
}

.hotdog{ 
    width: 600px;
    height: 400px;
    margin-left: 200px;
}
