.docContent{
    
}


.titleDock {
    color: #0065a1;
    font-size: 50px;
    height: 140px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: underline;
}

.containerDock {
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 60px;
    font-size: 30px;
    color: blue;
}

.informationDock {
    padding-left: 70px;
    font-size: 25px;
}

.maisDock {
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    color: blue;
}



.redirection:hover{
    color: blue;
}

.tist {
    align-items: center;
    justify-content: center;

}

.redirection {
    padding-left: 70px;
    font-size: 25px;
}